#menu
{display:none;}

html{
	height:100%;
}

body{
	background-image:url(../pictures/bakgrund.png);
}
#container{
	width:auto;
	margin-top:3%;
	text-align:center;
}

#dagar{
	width:80%;
	margin-left:12%;
	overflow: auto;
	text-align:left;
}

.dag{
	margin:0.8%;
	width:180px;
	height:100px;
	border:1px solid black;
	float:left;
	background-color:white;
}

.dag p{
	margin-top:1%;
	padding-left:4%;
	color:#08644D;
	font-family: 'Montaga';
	font-weight:bold;
}

h1{
	font-family: 'Tangerine';
	font-size:500%;
	color:#800000;
}

#LoginMyTime{
	font-family: 'Tangerine';
	font-size:800%;
	color:#800000;
	margin-bottom:30px;
	}	

.right{
	margin-top:-100px;
	margin-right:4%;
	float:right;
	font-size:700%;
	font-family: 'Tangerine';
	color:#800000;
	text-decoration:none;

}

.left{
	margin-top:-100px;
	margin-left:4%;
	float:left;
	font-size:700%;
	font-family: 'Tangerine';
	color:#800000;
	text-decoration:none;
}

.login{
	font-size:150%;
	font-family: 'Montaga';
	font-weight:bold;
	margin-bottom:0;
	
}

#sub{
	margin-top:20px;
	font-family: 'Montaga';
	color:#800000;
	font-size:140%;
	padding:0.4%;
	font-weight:bold;
	border:1px solid black;
}

input#namn, input#lösen{
	width:250px;
}
